.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 让 content 区域占据整个视口的高度 */
}

.container-fluid {
    width: 80%; /* 或者适当调整宽度 */
}

/* 提高文本框透明度 */
input[type="text"],
input[type="password"],
select {
    opacity: 0.8;
}
/* 按钮样式 */
#submit {
    background-color: #007bff; /* 按钮背景颜色 */
    color: #fff; /* 按钮文字颜色 */
    border: none; /* 去除按钮边框 */
    padding: 8px 16px; /* 按钮内边距 */
    border-radius: 4px; /* 按钮圆角 */
    cursor: pointer; /* 鼠标样式 */
    transition: background-color 0.3s ease; /* 按钮背景颜色变化动画 */
}

#submit:hover {
    background-color: #0056b3; /* 鼠标悬停时的按钮背景颜色 */
}

/* 数量和价格输入框样式 */
#quantity,
#price {
    opacity: 0.8; /* 输入框透明度 */
    border: 1px solid #ced4da; /* 输入框边框 */
    border-radius: 4px; /* 输入框圆角 */
    padding: 8px; /* 输入框内边距 */
    font-size: 16px; /* 输入框字体大小 */
    color: #333; /* 输入框字体颜色 */
}

#quantity:focus,
#price:focus {
    outline: none; /* 去除输入框聚焦时的边框 */
    border-color: #007bff; /* 输入框聚焦时的边框颜色 */
}
.content {
    display: flex;
    flex-direction: column;
}
h2{
    color: whitesmoke !important;
}
.container-fluid {
    flex-grow: 1; /* 让.container-fluid填充剩余空间 */
    background-color: transparent;
}

#tradeForm div {
    margin-bottom: 10px; /* 为每个表单元素之间添加下边距 */
}

#tradeForm label {
    margin-right: 10px; /* 为标签和输入框之间添加右边距 */
}

#tradeForm input,
#tradeForm select {
    padding: 5px; /* 为输入框和下拉菜单添加内边距 */
}

#tradeForm label
{
    color:lightblue; /* 将标签、输入框和下拉菜单的文字颜色设为红色 */
}


